# Copyright (C) 2017-2018 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# This version is based on <https://gitlab.com/emacs-ci/emacs>, modified
# to work with the Remacs additions

# based on Debian
image: rust:latest

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

stages:
  - build
  - test

build:
  stage: build
  before_script:
    - apt update -qq
    - apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc make autoconf automake libncurses-dev gnutls-dev build-essential clang libclang-dev texinfo libjpeg-dev libtiff-dev libgif-dev libxpm-dev libgtk-3-dev libgnutls28-dev libxml2-dev libxt-dev inotify-tools
    - rustup component add rustfmt-preview
    - rustc --version && cargo --version && gcc --version
    - ./autogen.sh autoconf
    - RUST_BACKTRACE=1 RUSTFLAGS="-Dwarnings" ./configure --prefix=$HOME/aero --without-makeinfo --with-file-notification=gfile --enable-rust-debug --with-x=no --with-ns=no --without-gconf --without-gsettings
  script:
    - make bootstrap
    - make check-expensive

test-all:
  stage: test
  before_script:
    - apt update -qq
  script:
    - make check

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test filenotify-tests
